<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vadodara.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VadodaraApp">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDPiNLUI5yTJXcuQ8T3h5qNH7CR0LiZw5I" />

        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BotomActivity"
            android:exported="true"
            android:label="@string/title_activity_botom"/>

        <activity
            android:name=".NavigationDemoActivity"
            android:exported="true"
            android:theme="@style/Theme.VadodaraApp.NoActionBar"></activity>
        <activity
            android:name=".ExpandDemoActivity"
            android:exported="false" />
        <activity
            android:name=".DpActivity"
            android:exported="false" />
        <activity
            android:name=".User1Activity"
            android:exported="false" />
        <activity
            android:name=".TabDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityToFragment"
            android:exported="false" />
        <activity
            android:name=".DateAndTime"
            android:exported="false" />
        <activity
            android:name=".SpinnerListActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>